<div style="max-width: 500px" class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Update Location</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="categoryForm" (ngSubmit)="onUpdate()">
        <div class="mb-3">
          <label for="name" class="form-label">Location Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <div
            *ngIf="
              categoryForm.get('name')?.errors?.['required'] &&
              categoryForm.get('name')?.touched
            "
            class="text-danger"
          >
            Location name is required.
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-dark"
          [disabled]="!categoryForm.valid"
        >
          Update
        </button>
        <a routerLink="/category" class="ml-3 btn">Back to List</a>
      </form>
    </div>
  </div>
</div>
