<div style="max-width: 500px" class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Login</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
          />
          <p
            *ngIf="
              loginForm.controls['email'].invalid &&
              loginForm.controls['email'].touched
            "
            class="text-danger"
          >
            Email cannot be left empty
          </p>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
          <p
            *ngIf="
              loginForm.controls['password'].invalid &&
              loginForm.controls['password'].touched
            "
            class="text-danger"
          >
            Password cannot be left empty
          </p>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
